body{
  background-image: url(http://cdn.surfer.com/uploads/2017/06/IB.jpg)
}

h1{
  color: chartreuse;
  font-family:"Frijole";
}

h2{
  color: chartreuse;
  font-family:"Frijole";
}

p{
  color: chartreuse;
  font-family:"Courgette";
}

